<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>hello rocket.</title>
  </head>
  <body>
    <div>
      <li><a href="./list">一覧画面</a></li>
      <li><a href="./add">新規追加</a></li>
    </div>

    {% block content %}
    {% endblock content %}
  </body>
</html>
