{% extends "base" %}

{% block content %}
<div name="title">詳細画面</div>
<div>
  <div>
    TODO ID : {{id}}
  </div>
  <div>
    TODO タイトル : {{title}}
  </div>
  <div>
    TODO 詳細説明 : {{description}}
    <pre>
    </pre>
  </div>
  <!-- <div>
    登録画像 : <img src="https://placehold.jp/150x150.png"  />
  </div> -->
</div>
<div>
  <button>編集</button>
</div>
{% endblock content %}
